/* intégration des polices de caractères */

@font-face {
    font-family: "Josefin Sans";
    src: url("../font/Josefin/JosefinSans-Medium.ttf");
}

@font-face {
    font-family: "Titilium Sans";
    src: url("../font/TitilliumWeb-BoldItalic.ttf");
}

/* Déclaration des variables css */

:root {
    --main-menu-color-yellow: hsla(39, 100%, 50%, 1);
    --surface-color: #fff;
    --curve: 40;
}

.bg-theme-yellow {
    background-color: var(--main-menu-color-yellow);
}

/* Style commun a toute la page */
ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

li {
    margin-bottom: 12px;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-size: cover;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
}

header {
    position: relative;
}

/* Thème du body */
.theme-black-body {
    color: white;
    background-image: url(../images/background/irion.png);
}

.theme-blue-body {
    background-color: blue;
    color: white;
    background-image: url(../images/background/kalecgos.jpg);
}

.theme-green-body {
    background-color: green;
    color: white;
    background-image: url(../images/background/ysera.jpg);
}

.theme-red-body {
    background-color: red;
    color: white;
    background-image: url(../images/background/alex.jpg);
}

.theme-bronze-body {
    background-color: var(--main-menu-color-yellow);
    color: white;
    background-image: url(../images/background/noz.jpg);
}

/* Style communs des boutons  */
.header__navbar,
.who-continue__link {
    background-color: var(--main-menu-color-yellow);
    transition: 0.2s;
    border-radius: 5px !important;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 75%), inset 0 -5px rgb(0 0 0 / 26%);
}

.raid-mode-btn {
    background-color: black;
    transition: 0.2s;
    border: solid white 1px;
    border-radius: 4px !important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 75%), inset 0 -5px rgb(0 0 0 / 26%);
    font-family: "Titilium Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 14px !important;
    line-height: 17px;
    padding: 12px 30px 12px 30px !important;
    color: #fff;
    margin-top: 10px;
}

.who-continue__link:hover {
    background-color: rgb(212, 138, 0);
}

.raid-mode-btn:hover {
    color: rgb(212, 138, 0);
    border: solid rgb(212, 138, 0) 1px;
    cursor: pointer;
}

/* HEADER */
/* La partie theme du header */

.theme-circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 10%;
    transition: 1s;
}

.theme-circle:hover {
    transform: scale(1.5);
}

#theme-black-body {
    background-color: #313131;

}

#theme-blue-body {
    background-color: blue;
    margin-right: 30px;
}

#theme-green-body {
    background-color: green;
    margin-right: 60px;
}

#theme-red-body {
    background-color: red;
    margin-right: 90px;
}

#theme-bronze-body {
    background-color: var(--main-menu-color-yellow);
    margin-right: 120px;
}

/* La partie logo du Header */
.header__logo {
    display: flex;
    align-items: center;
}

.logo-jor {
    width: 10%;
    margin-left: 12%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info-jor {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Titilium Sans", sans-serif;
    width: 7em;
}

.info-jor--letter {
    color: var(--main-menu-color-yellow);
}

/* La partie navigation du Header */
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 80%;
    margin: auto;

}

.navbar_main-menu {
    list-style: none;
    position: relative;
    width: 100%;
    margin-left: 5px;
    z-index: 10;
}

.nav_main-menu--item {
    padding: 23px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.menu-item_link {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav_main-menu--item:hover {
    background-color: rgba(0, 0, 0, .70);
}

/* La navigation des réseaux sociaux */
.nav__discord {
    margin-right: 2%;
}

#discord--link {
    color: white;
    text-decoration: none;
    display: flex;

}

.discord--img {
    width: 40px;
    margin-right: 0.5rem;
}

/* La section du haut de la page */

.top-section {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.void-left {
    width: 75%;
}

.first-title-right {
    position: absolute;
    top: 153px;
    left: 59%;
    margin: 0px;
    z-index: auto;
    width: auto;
    height: auto;
    padding: 0px;
    border-width: 0px;
    font-size: 36px;
    letter-spacing: 0px;
}

.who-title1 {
    margin: 0 0 0 -5px;
    font-size: 63px;
    line-height: 63px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.who-title2 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    color: var(--main-menu-color-yellow);
    margin: 0 0 0.7rem -3px;
    line-height: 40px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.who-text {
    width: 70%;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    opacity: 1;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.who-continue__link {
    font-family: "Titilium Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 17px !important;
    font-style: italic;
    font-weight: bold;
    line-height: 17px;
    padding: 18px 41px 20px 41px !important;
    color: #fff;
    margin-top: 10px;
}

/* CONTAINER */
.container {
    margin: 0 10%;
}

/* PROGRESS */
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card-progress {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    margin-top: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.raid-img {
    width: 100%;
}

.raid-mode {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.progress-boss-element {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    top:380px;
    margin-top: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/* TEAM */
.container-team {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card-team {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    margin-top: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
}

.card-team-img {
    width: 40%;
}
